
*.pem
*.pyc
.env
.pytest_cache/
.venv/
.vercel
__pycache__/
deploy/*.key
deploy/*.key.pub
deploy/*.log
deploy/.db_app.env
deploy/.secretos
deploy/.smtp
deploy/.usuarios_iniciales
deploy/estado.env
local/.env
venv/
deploy/render_valores.txt
